* {
  box-sizing: border-box;
}
.board {
  display: flex;
  align-content: center;

}

.board-small {
  display: flex;
}

.brown {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: brown;
}
.white {
  display: flex;
  width: 100px;
  height: 100px;
  background-color: rgb(221, 221, 221);
}